@media only screen and (max-device-width: 600px) and (min-device-width: 320px) {
	.container {
		padding: 0 
	}
	.text-wrap p {
		font-size: 28px;
	}
	.text-wrap h1 {
		font-size: 32px;
	}
	.flex-con {
	    display: flex;
	    justify-content: space-between;
	    color: #fff;
	    padding: 0;
	}
	.ea-logo {
		width: 200px;
	}
	.nav-right img {
	    width: 100px;
	    height: auto;
	}
	.flex-center {
		display: flex;
		justify-content: center;
		align-items: center;
		align-content: center;
		flex-direction: column;
	}
	.main-section {
		padding: 15px;
		background-image: url(../img/banners/header.jpg);
		background-repeat: no-repeat;
		background-position: center;
		background-size: cover;
		width: 100%;
		height: 30vh;
		color: #fff;
	}
	.story-today {
	    color: #fff;
	    padding-left: 20px;
	    padding-top: 10px;
	}
	.story-today__headline {
		font-size: 30px;
		padding-bottom: 30px;
		padding-top: 30px;
	}
	.story-today__headline {
		font-size: 36px;
	}
	.pull-r {
		right: -1px;
		top: -360px;
	}
	.fix-bottom {
		position: absolute;
	    right: 5px;
	    bottom: -150px;
	}   
	.col-md-6 {
		margin-bottom: 20px;
	}
	.banner-left {
	    padding: 10px 60px 0px 20px;
	}
	.nav-social {
		display: none;
	}
	.logo-wrap__ea {
		padding: 0 20px;
	}
	.menu {
		float: none;
		padding-top: 0;
		text-align: center; 
	}
	.banner-left h1  {
		font-size: 48px;
	}
	.banner-right {
		text-align: center;
		padding-right: 20px 20px 60px 20px; 
	}
	.about__desc {
	    padding: 22px 10px 0px;
	    flex-grow: 3;
	}
	.about__desc p {
		font-size: 14px;
		line-height: 1.3;
	}
	.about__featured--title h1 {
	    font-weight: bold;
	    line-height: 1.4;
	    font-size: 32px;
	}
	.about__featured--title p {
	    padding-left: 0;
	    
	}
	.about__featured--title {
	    padding: 0 10px;
	}
	.about__vision {
	    padding: 0; 
	    text-align: left;
	}
	.grid {
		padding: 2px;
		overflow-y: hidden;
	}
	.col-md-3 {
	    position: relative;
	    min-height: 1px;
	    padding-right: 15px;
	    padding-left: 15px;
	    width: 100%;
	}
	.about__vision h3 {
		padding-bottom: 10px;
	}
	.grid__card {
		height: 250px;
	}
	.profile-card {
	    margin: 20px;
	}
	.partners {
	    padding: 20px;
	}
	.flex-wrap {
	    display: flex;
	    justify-content: center;
	    align-items: center;
	    align-content: center;
	    flex-direction: column;
	}
	.flex-wrap--around {
	    display: flex;
	    justify-content: space-around;
	    align-items: center;
	    align-content: center;
	    flex-direction: column;
	}
	.navbar-header .flex-wrap {
	    display: flex;
	    justify-content: center;
	    align-items: flex-start;
	    align-content: center;
	    flex-direction: column;
	}
	.landing-btn {
		position: absolute;
		right: 0;
	}
	.story-today--landing {
		margin-top: 100px;
	}
	.nav-dropdown {
		display: none;
	}
	 .arrow-down {
		display: none;
	}
	.desktop-nav {
		display: none!important;
	}
	.mobile-nav {
		display: block!important
	}
	.no-pad {
		padding: 0;
	}
	.logo--partner.col-md-4 {
		width: 50%;
	}
	.desc {
    padding: 20px;
	}
}